


<circle-progress [percent]="100"
                 [radius]="100"
                 [outerStrokeWidth]="18"
                 [outerStrokeColor]="'#904BD4'"
                 [backgroundGradientStopColor]="'#904BD4'"
                 [showTitle]=false
                 [showSubtitle]=false
                 [showInnerStroke]=true
                 [startFromZero]=false
                 [showBackground]=true
                 [clockwise]=true
                 [animation]="true"
                 [animationDuration]="23000"
                 [backgroundPadding]=-20>

</circle-progress>








